<div class="wrapper-blue">
  <div class="container" id="booking">
    <div class="section-title white">
      <h2><%= title %></h2>
    </div>
    <div class="row">
      <div class="booking-comment">
        <p><%= description %></p>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <form method="POST" action="https://formspree.io/lecapvauban@gmail.com" class="booking-form">
          <input type="email" name="email" placeholder="<%= email %>" class="form-control" required="true">
          <div class="row">
            <div class="col-xs-6">
              <input type="text" name="dates" placeholder="<%= dates %>" class="form-control" required="true">
            </div>
            <div class="col-xs-6">
              <input type="number" name="guests" placeholder="<%= guests %>" class="form-control" required="true">
            </div>
          </div>
          <textarea name="message" placeholder="<%= message %>" class="form-control" required="true"></textarea>
          <button type="submit" class="btn btn-danger"><i class="fab fa-telegram-plane"></i> <%= btn %></button>
        </form>
      </div>
    </div>
  </div>
</div>
