<div class="wrapper-blue">
  <div class="container" id="properties">
    <div class="section-title white">
      <h2>Our properties</h2>
    </div>
    <div class="row">
      <% flats.each do |flat| %>
        <div class="col-xs-12 col-md-6">
          <div class="flat-info">
            <h3 class="text-center"><%= flat.name %></h3>
            <div class="flat-image">
              <div class="owl-carousel owl-theme">
                <div>
                  <%= image_tag "https://kitt.lewagon.com/placeholder/cities/marseille" %>
                </div>
                <div>
                  <%= image_tag "https://kitt.lewagon.com/placeholder/cities/marseille" %>
                </div>
                <div>
                  <%= image_tag "https://kitt.lewagon.com/placeholder/cities/marseille" %>
                </div>
                <div>
                  <%= image_tag "https://kitt.lewagon.com/placeholder/cities/marseille" %>
                </div>
                <div>
                  <%= image_tag "https://kitt.lewagon.com/placeholder/cities/marseille" %>
                </div>
                <div>
                  <%= image_tag "https://kitt.lewagon.com/placeholder/cities/marseille" %>
                </div>
                <div>
                  <%= image_tag "https://kitt.lewagon.com/placeholder/cities/marseille" %>
                </div>
              </div>
            </div>

            <div class="flat-description">
              <p><%= simple_format(flat.description) %></p>
            </div>

            <div class="flat-equipment">
              <% if flat.wifi %>
                <span><i class="fas fa-fw fa-wifi"></i> WIFI</span>
              <% end %>
              <% if flat.tv %>
                <span><i class="fas fa-fw fa-tv"></i> TV</span>
              <% end %>
              <% if flat.kitchen %>
                <span><i class="fas fa-fw fa-utensils"></i> Kitchen</span>
              <% end %>
              <% if flat.washing_machine %>
                <span><i class="fas fa-fw fa-tshirt"></i> Washing machine</span>
              <% end %>
              <% if flat.aircon %>
                <span><i class="fas fa-fw fa-snowflake"></i> Air conditioning</span>
              <% end %>
              <span><i class="fas fa-fw fa-bed"></i> <%= flat.beds %> beds</span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        dots: false,
        responsive:{
          0:{
            items:1
          },
          600:{
            items:1
          },
          1000:{
            items:1
          }
        }
      })
    });
  </script>
<% end %>
