<div class="banner" style="background-image: url(<%= image_path "banner.jpg" %>)"></div>

<%= render "location_section" %>
<%= render "properties_section", flats: @flats %>
<%= render "calendar_section", prices: @prices %>
<%= render "booking_section", flats: @flats %>

